extends layout

block append head

block content
    section.content-header
        h1
            | API
            small MANAGER
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active Api manager
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') API KEY
            .box-body
                .input-group.input-group-sm
                    span.input-group-btn
                        button.btn.btn-danger.btn-flat(type='button' id='btGen')
                            i.fa.fa-fw.fa-random
                            | Generate
                    input.form-control(type='text' id="key" style="text-align:center;  font-weight: bold; font-size: 18px;" disabled)
                    span.input-group-btn
                        button.btn.btn-info.btn-flat(type='button' id="btCoppy")
                            i.fa.fa-fw.fa-files-o
                            |   Coppy      

block append scripts
    script(src="/assets/bower_components/clipboard/coppy.js")
    script(src='/js/admin/api-key.js')