extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/ladda/ladda-themeless.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/loading/jquery.loading.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")

block content
    section.content-header
        h1
            | PROFILE
            small MANAGER
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active Profile
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') PROXY LIST
            .box-body.table-responsive
                table.table.table-bordered.table-hover#tb
                    thead
                        tr
                            th(width="5%") #
                            th(width="20%") NAME                  
                            th(width="20%") IP
                            th(width="auto") DATE CREATE
                            th(width="15%") ACTION
                    tbody#tbBody
            .box-footer
block append scripts
    script(src="/assets/bower_components/ladda/spin.min.js")
    script(src="/assets/bower_components/ladda/ladda.min.js")
    script(src="/assets/bower_components/ladda/ladda.jquery.min.js")
    script(src="/assets/bower_components/codemirror/codemirror.js")
    script(src="/assets/bower_components/loading/jquery.loading.js")
    script(src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js")
    script(src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    script(src="/js/admin/client.js")