extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/ladda/ladda-themeless.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/loading/jquery.loading.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/select2/dist/css/select2.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/touchSpin/jquery.bootstrap-touchspin.min.css")
block content
    section.content-header
        h1
            | DASHBOARD
            small ZCLICK
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active DASHBOARD
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') LIST GROUP
                .box-tools
                        button.btn.btn-xs.btn-block.btn-primary(type='button' data-toggle="modal" data-target="#modal-add")
                            i.fa.fa-fw.fa-edit
                            | CREATE NEW GROUP
            .box-body
                table.table.table-hover#tb
                    thead
                        tr
                            th(width="15%") COMMAND
                            th NAME          
                            th(width="30%") STATUS
                            th(width="15%" class="text-center") ACTION
                    tbody#tbBody
            .box-footer
block append scripts
    script(src="/assets/bower_components/ladda/spin.min.js")
    script(src="/assets/bower_components/ladda/ladda.min.js")
    script(src="/assets/bower_components/ladda/ladda.jquery.min.js")
    script(src="/assets/bower_components/codemirror/codemirror.js")
    script(src="/assets/bower_components/loading/jquery.loading.js")
    script(src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js")
    script(src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    script(src="/assets/bower_components/touchSpin/jquery.bootstrap-touchspin.min.js")
    script(src="/assets/bower_components/select2/dist/js/select2.min.js")
    script(src="/assets/socket.io/socket.io.js")
    script(src="/js/admin/dashboard.js")
    
block append modals
    #modal-add.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#frmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title CREATE NEW GROUP
                    .modal-body
                        .form-group
                            label(for="name" class="col-sm-2 control-label") NAME: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="name"  required)
                        .form-group
                            label(for="sshs" class="col-sm-2 control-label") PROFILE: 
                            .col-sm-10
                                select#profile(name="range" class="form-control")
                        .form-group
                            label(for="url" class="col-sm-2 control-label") PROXY: 
                            .col-sm-10
                                select#proxy(name="range" class="form-control")  
                        .form-group
                            label(for="sshs" class="col-sm-2 control-label") CLIENT: 
                            .col-sm-10
                                select#clients(name="range" class="form-control select2" multiple)
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btAdd(type='submit' data-style="slide-down") Submit
    
    #modal-edit.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#efrmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title#tit
                    .modal-body
                        .form-group
                            label(for="sshs" class="col-sm-2 control-label") PROFILE: 
                            .col-sm-10
                                select#eprofile(name="range" class="form-control")
                        .form-group
                            label(for="url" class="col-sm-2 control-label") PROXY: 
                            .col-sm-10
                                select#eproxy(name="range" class="form-control")  
                        .form-group
                            label(for="sshs" class="col-sm-2 control-label") CLIENT: 
                            .col-sm-10
                                select#eclients(name="range" class="form-control select2" multiple)
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btEdit(type='submit' data-style="slide-down") Submit