doctype html
html
  block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/assets/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/assets/dist/css/skins/_all-skins.min.css')
    script.
        var active = !{JSON.stringify(active)};
    //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
        include static/navbar.pug
        include static/sidebar.pug
        .content-wrapper
            block content

        include static/footer.pug
        include static/controlsidebar.pug
      
        .control-sidebar-bg
    block modals
        
    block scripts
        script(src='/assets/bower_components/jquery/dist/jquery.min.js')
        script(src='/assets/bower_components/jquery-ui/jquery-ui.min.js')
        script(src='/assets/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/assets/dist/js/adminlte.min.js')
        script(src='/assets/dist/js/demo.js')
        script(src='/js/layout.js')

