extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/ladda/ladda-themeless.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/loading/jquery.loading.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")

block content
    section.content-header
        h1
            | PROFILE
            small MANAGER
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active Profile
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') PROXY LIST
                .box-tools
                    button.btn.btn-xs.btn-block.btn-primary(type='button' data-toggle="modal" data-target="#modal-add")
                        i.fa.fa-fw.fa-edit
                        | ADD NEW PROFILE
            .box-body.table-responsive
                table.table.table-bordered.table-hover#tb
                    thead
                        tr
                            th(width="5%") #
                            th(width="20%") NAME                  
                            th(width="30%") URL
                            th(width="15%") NETWORK
                            th(width="15%") ACTION
                    tbody#tbBody
            .box-footer
block append scripts
    script(src="/assets/bower_components/ladda/spin.min.js")
    script(src="/assets/bower_components/ladda/ladda.min.js")
    script(src="/assets/bower_components/ladda/ladda.jquery.min.js")
    script(src="/assets/bower_components/codemirror/codemirror.js")
    script(src="/assets/bower_components/loading/jquery.loading.js")
    script(src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js")
    script(src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    script(src="/js/admin/profile.js")
    
block append modals
    #modal-add.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#frmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title ADD NEW DEVICE
                    .modal-body
                        .form-group
                            label(for="name" class="col-sm-2 control-label") NAME: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="name"  required)
                        .form-group
                            label(for="url" class="col-sm-2 control-label") URL: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="url"  required)
                        .form-group
                            label(for="network" class="col-sm-2 control-label") NETWORK: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="network"  required)
                        .form-group
                            label(for="forcusapp" class="col-sm-2 control-label") FORCUS APP: 
                            .col-sm-10
                                textarea#forcusapp(name="forcusapp", cols="30", rows="5" class="form-control")
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btAdd(type='submit' data-style="slide-down") Submit
    
    #modal-edit.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#efrmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title#tit
                    .modal-body
                        .form-group
                            label(for="url" class="col-sm-2 control-label") URL: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="e_url"  required)
                        .form-group
                            label(for="network" class="col-sm-2 control-label") NETWORK: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="e_network"  required)
                        .form-group
                            label(for="forcusapp" class="col-sm-2 control-label") FORCUS APP: 
                            .col-sm-10
                                textarea#e_forcusapp(name="e_forcusapp", cols="30", rows="5" class="form-control")
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btEdit(type='submit' data-style="slide-down") Submit