extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/ladda/ladda-themeless.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/loading/jquery.loading.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet" href="/assets/bower_components/iCheck/square/blue.css")
block content
    section.content-header
        h1
            | SCRIPT
            small MANAGER
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active Script Manager
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') SCRIPTS LIST
                .box-tools
                    button.btn.btn-xs.btn-block.btn-primary(type='button' data-toggle="modal" data-target="#modal-add")
                        i.fa.fa-fw.fa-edit
                        | ADD NEW SCRIPT
            .box-body.table-responsive
                table.table.table-bordered.table-hover#tb
                    thead
                        tr
                            th(width="5%") #
                            th(width="40%") NAME                  

                            th(width="15%") ACTION
                    tbody#tbBody
            .box-footer
block append scripts
    script(src="/assets/bower_components/ladda/spin.min.js")
    script(src="/assets/bower_components/ladda/ladda.min.js")
    script(src="/assets/bower_components/ladda/ladda.jquery.min.js")
    script(src="/assets/bower_components/codemirror/codemirror.js")
    script(src="/assets/bower_components/loading/jquery.loading.js")
    script(src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js")
    script(src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    script(src="/assets/bower_components/iCheck/icheck.min.js")
    script(src="/js/admin/scripts.js")
    
block append modals
    #modal-add.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#frmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title ADD NEW SCRIPT
                    .modal-body
                        .form-group#form
                            label(for="offid" class="col-sm-2 control-label") NAME: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="name"  required)
                                p#mess
                        .form-group#form
                            label(for="offid" class="col-sm-2 control-label") PACKAGE: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="package"  required)
                                p#mess
                        .form-group
                            label(for="offid" class="col-sm-2 control-label")
                            .col-xs-10
                                .checkbox.icheck
                                    label
                                        input#dfscr(type="checkbox")
                                        | Default Script
                        .form-group#form
                            label(for="offid" class="col-sm-2 control-label") CONTENT: 
                            .col-sm-10
                                textarea#content(class="form-control" name="txtContent", cols="30", rows="10")
                                p#mess
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btAdd(type='submit' data-style="slide-down") Submit
    #modal-edit.modal
        .modal-dialog
            .modal-content
                form.form-horizontal#efrmDv(action="#" method="post" style="padding: 1%")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title#tit ADD NEW DEVICE
                    .modal-body
                        .form-group#form
                            label(for="offid" class="col-sm-2 control-label") PACKAGE: 
                            .col-sm-10
                                input(type="text" class="form-control"  id="epackage"  required)
                                p#mess
                        .form-group
                            label(for="offid" class="col-sm-2 control-label")
                            .col-xs-10
                                .checkbox.icheck
                                    label
                                        input#edfscr(type="checkbox")
                                        | Default Script
                        .form-group#form
                            label(for="offid" class="col-sm-2 control-label") PROXY: 
                            .col-sm-10
                                textarea#econtent(class="form-control" name="txtContent", cols="30", rows="10")
                                p#mess
                    .modal-footer
                        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary.ladda-button#btAdd(type='submit' data-style="slide-down") Submit 