extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/touchSpin/jquery.bootstrap-touchspin.min.css")
block content
    section.content-header
        h1
            | API
            small MANAGER
        ol.breadcrumb
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    |  Home
            li.active Api manager
    section.content
        .box.box-info
            .box-header.with-border
                h3(class='box-title') API KEY
            .box-body
                form.form-horizontal#frmDv(action="#" method="post" style="padding: 1%")
                    .form-group
                        label(for="rangeip" class="col-sm-2 control-label") TIME LOAD LINK: 
                        .col-sm-10
                            input#timeLoad(name="range" class="form-control")
                    .form-group
                        label(for="rangeip" class="col-sm-2 control-label") TIME DOWNLOAD: 
                        .col-sm-10
                            input#timeDown(name="range" class="form-control")
                    .form-group
                        label(for="url" class="col-sm-2 control-label") DEFAULT PACKAGE: 
                        .col-sm-8
                            textarea#dfpakg(class="form-control" name="", cols="30", rows="5")
                    .form-group
                        label(for="url" class="col-sm-2 control-label") WIPE PACKAGE: 
                        .col-sm-8
                            textarea#wipepkg(class="form-control" name="", cols="30", rows="5")
                    .form-group
                        label(for="url" class="col-sm-2 control-label") TEXT CLICK: 
                        .col-sm-8
                            textarea#click(class="form-control" name="", cols="30", rows="5")
                    .form-group
                        label(for="url" class="col-sm-2 control-label") TEXT ERRROR: 
                        .col-sm-8
                            textarea#error(class="form-control" name="", cols="30", rows="5")
                    .col-sm-8.col-sm-offset-9
                        button.btn.btn-primary.ladda-button#btAdd(type='submit' data-style="slide-down") Save
block append scripts
    script(src="/assets/bower_components/touchSpin/jquery.bootstrap-touchspin.min.js")
    script(src='/js/admin/settings.js')