extends layout

block append head
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/codemirror/codemirror.css")
    link(rel="stylesheet" type="text/css" href="/assets/bower_components/codemirror/ambiance.css")
    script(type='text/javascript').
        var uaType = !{JSON.stringify(type)};
block content
    section.content-header
        -if(type == "android")
            h1
                | ANDROID
                small USER-AGENT
            ol.breadcrumb
                li
                    a(href='/dashboard')
                        i.fa.fa-dashboard
                        |  Home
                li User-Agent
                li.active Android
        -else if(type == "ios")
            h1
                | IOS
                small USER-AGENT
            ol.breadcrumb
                li
                    a(href='/dashboard')
                        i.fa.fa-dashboard
                        |  Home
                li Device Manager
                li User-Agent
                li.active Ios
        -else
            h1
                | PC
                small USER-AGENT
            ol.breadcrumb
                li
                    a(href='/dashboard')
                        i.fa.fa-dashboard
                        |  Home
                li User-Agent
                li.active PC
    section.content
        .box
            .box-header
                h3.box-title CONTENT:
            .box-body.table-responsive
                textarea#uaTxt.form-control(name="", cols="30", rows="10")
            .box-footer
                button.btn.btn-block.btn-primary.pull.right.ladda-button#btSave(type='button' data-style="slide-down" data-url=url) Save

block append scripts
    script(src="/assets/bower_components/ladda/spin.min.js")
    script(src="/assets/bower_components/ladda/ladda.min.js")
    script(src="/assets/bower_components/ladda/ladda.jquery.min.js")
    script(src="/assets/bower_components/codemirror/codemirror.js")
    script(src="/assets/bower_components/loading/jquery.loading.js")
    script(src="/js/admin/useragent.js")