doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= title
        // Tell the browser to be responsive to screen width
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        // Font Awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
        // Ionicons
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
        // Bootstrap 3.3.7
        link(rel='stylesheet', href='/assets/bower_components/bootstrap/dist/css/bootstrap.min.css')
        // Theme style
        link(rel='stylesheet', href='/assets/dist/css/AdminLTE.min.css')
        // iCheck
        link(rel='stylesheet', href='/assets/bower_components/iCheck/square/blue.css')
        // Style custom
        link(rel='stylesheet', href='/assets/dist/css/style.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
        //script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        //script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        // Google Font
        //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
    body.hold-transition.login-page
        #canvas-wrapper.bg_video
            canvas#demo-canvas
        .login-box
            .login-logo
                a(href='')
                    b Hoang
                    | Long
            .login-box-body
                h4.login-box-msg Sign in to start your session
                -if(mess)
                    .alert.alert-danger.alert-dismissible
                        button(type="button" class="close" data-dismiss="alert" aria-hidden="true") ×
                        h4
                            i(class="icon fa fa-ban")
                            |Login Falied!
                        p= mess
                form#frm(action="/login", method='post')
                    .form-group.has-feedback
                        -if(username)
                            input.form-control(type='text', name="username" placeholder='Username' value= username required)
                        -else
                            input.form-control(type='text', name="username" placeholder='Username' required)
                        span.glyphicon.glyphicon-user.form-control-feedback
                    .form-group.has-feedback
                        -if(password)
                            input.form-control(type='password', name="password" placeholder='Password' value= password required)
                        -else
                            input.form-control(type='password', name="password" placeholder='Password' required)
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .row
                        .col-xs-8
                            .checkbox.icheck
                                label
                                    input#rem(type='checkbox')
                                    |  Remember Me
                        .col-xs-4
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
        script(src='/assets/dist/canvas/canvasbg.js')
        // jQuery 3.1.1
        script(src='/assets/bower_components/jquery/jquery-3.1.1.min.js')
        // Bootstrap 3.3.7
        script(src='/assets/bower_components/bootstrap/dist/js/bootstrap.min.js')
        // iCheck
        script(src='/assets/bower_components/iCheck/icheck.min.js')
        script(src='/js/admin/login.js')
        script.
            jQuery(document).ready(function () {
                CanvasBG.init({
                    Loc: {
                        x: window.innerWidth / 2.1,
                        y: window.innerHeight / 4.2
                    }
                });
            });
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
