aside.control-sidebar.control-sidebar-dark
    ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
        li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
                i.fa.fa-home
        li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
                i.fa.fa-gears
    .tab-content
        #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
                li
                    a(href='javascript:void(0)')
                    i.menu-icon.fa.fa-birthday-cake.bg-red
                    .menu-info
                        h4.control-sidebar-subheading Langdon's Birthday
                        p Will be 23 on April 24th
                li
                    a(href='javascript:void(0)')
                        i.menu-icon.fa.fa-user.bg-yellow
                        .menu-info
                            h4.control-sidebar-subheading Frodo Updated His Profile
                            p New phone +1(800)555-1234
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
                li
                    a(href='javascript:void(0)')
                        h4.control-sidebar-subheading
                            | Custom Template Design
                            span.label.label-danger.pull-right 70%
                        .progress.progress-xxs
                            .progress-bar.progress-bar-danger(style='width: 70%')
        #control-sidebar-stats-tab.tab-pane Stats Tab Content
        #control-sidebar-settings-tab.tab-pane
            form(method='post')
                h3.control-sidebar-heading General Settings
                .form-group
                    label.control-sidebar-subheading
                        | Report panel usage
                        input.pull-right(type='checkbox', checked='')
                    p
                        | Some information about this general settings option
                // /.form-group
                .form-group
                    label.control-sidebar-subheading
                        | Allow mail redirect
                        input.pull-right(type='checkbox', checked='')
                    p
                        | Other sets of options are available
                // /.form-group
                .form-group
                    label.control-sidebar-subheading
                        | Expose author name in posts
                        input.pull-right(type='checkbox', checked='')
                    p
                        | Allow the user to show his name in blog posts
                // /.form-group
                h3.control-sidebar-heading Chat Settings
                    .form-group
                        label.control-sidebar-subheading
                            | Show me as online
                            input.pull-right(type='checkbox', checked='')
                    // /.form-group
                    .form-group
                        label.control-sidebar-subheading
                            | Turn off notifications
                            input.pull-right(type='checkbox')
                    // /.form-group
                    .form-group
                        label.control-sidebar-subheading
                            | Delete chat history
                            a.text-red.pull-right(href='javascript:void(0)')
                                i.fa.fa-trash-o
                