footer.main-footer
    .pull-right.hidden-xs
        b Version
        |  1.0.1
    strong
        | Copyright © 2014-2016 
        a(href='https://www.facebook.com/nay.zard' target='blank') Coding by Zard
        | .
    |  All rights
    |     reserved.