header.main-header
    a.logo(href='/dashboard')
        span.logo-mini
            b H
            | LS
        span.logo-lg
            b HL
            | SERVER
    nav.navbar.navbar-static-top
        a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
        .navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        img.user-image(src='/assets/dist/img/zard.png', alt='User Image')
                        span.hidden-xs Zard
                    ul.dropdown-menu
                        li.user-header
                            img.img-circle(src='/assets/dist/img/zard.png', alt='User Image')
                            p
                            | ZARD
                        li.user-footer
                            .pull-left
                                a.btn.btn-default.btn-flat(href='https://www.facebook.com/nay.zard' target="blank") Contact
                            .pull-right
                                a.btn.btn-default.btn-flat(href='/logout') Sign out
                li
                    a(href='#', data-toggle='control-sidebar')
                        i.fa.fa-gears