aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img.img-circle(src='/assets/dist/img/zard.png', alt='User Image')
            .pull-left.info
                p Zard
                a(href='#')
                    i.fa.fa-circle.text-success
                    |  Online
        form.sidebar-form(action='#', method='get')
            .input-group
                input.form-control(type='text', name='q', placeholder='Search...')
                span.input-group-btn
                    button#search-btn.btn.btn-flat(type='submit', name='search')
                    i.fa.fa-search
        ul.sidebar-menu(data-widget='tree')
            li.header MAIN NAVIGATION
            li(name="sidebar" onmenu="dashboard")
                a(href='/dashboard')
                    i.fa.fa-dashboard
                    span DASHBOARD
            li(name="sidebar" onmenu="profile")
                a(href='/profile')
                    i.fa.fa-dashboard
                    span PROFILE
            li(name="sidebar" onmenu="profile")
                a(href='/client')
                    i.fa.fa-dashboard
                    span CLIENT-MANAGER
            li.treeview(name="sidebar" onmenu="proxy")
                a(href='#')
                    i.fa.fa-fw.fa-tablet
                    span PROXY
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li(par="proxy" name="ssh")
                        a(href='/proxy/ssh')
                            i.fa.fa-fw.fa-desktop
                            |  SSH
                    li(par="proxy" name="rangeip")
                        a(href='/proxy/rangeip')
                            i.fa.fa-fw.fa-desktop
                            |  SOCKS
            li(name="sidebar" onmenu="settings")
                a(href='/settings')
                    i.fa.fa-dashboard
                    span SETTINGS
            li(name="sidebar" onmenu="apikey")
                a(href='/scripts')  
                    i.fa.fa-fw.fa-qrcode
                    span SCRIPTS
            li(name="sidebar" onmenu="apikey")
                a(href='/api-key')  
                    i.fa.fa-fw.fa-qrcode
                    span API-KEY
            